.drop-down {
  margin-right: auto;
}

.drop-down button {
  cursor: pointer;
  color: grey;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin-right: 24px;
}
