.card {
  max-width: 650px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.hide-card {
  height: 300px;
  position: relative;
}

.blur {
  filter: blur(15px);
}

.hide-card h3 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.card .info,
.card h3,
.card .media {
  margin-bottom: 16px;
}

.icon-container {
  height: 30px;
  width: 30px;
}

.media img,
.media video {
  border: transparent;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.media a {
  text-align: center;
  margin: 8px 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #0275c9;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 14px;
  padding: 12px 32px;
}

.media a:hover {
  background-color: #005492;
}

.metadata {
  color: #646464;
  display: flex;
  gap: 16px;
  font-size: 15px;
}

.comments::before,
.votes::before {
  content: '';
  height: 0.75em;
  display: inline-block;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.comments::before {
  width: 1em;
  background-image: url('./Icons/messages.svg');
}

.votes::before {
  width: 0.6em;
  background-image: url('./Icons/votes.svg');
}
