.cards {
  margin-top: 32px;
  gap: 32px;
  display: column;
  columns: 3;
}

.cards > * {
  break-inside: avoid;
  margin-bottom: 32px;
}

@media screen and (max-width: 950px) {
  .cards {
    columns: 2;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    columns: 1;
  }
}
