.search-bar {
  display: flex;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  transition: all 100ms ease-in;
}

.search-bar:focus-within {
  border: 2px solid #f74302;
  width: 200px;
}

.search-bar button {
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  border: none;
}

.search-bar input {
  width: 0px;
  cursor: pointer;
  opacity: 0;
  background-color: transparent;
  padding-left: 32px;
  line-height: 20px;
  flex-grow: 1;
  color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 1rem;
  transition: ease-out;
}

.search-bar input:focus-within {
  cursor: initial;
  opacity: 1;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 600px) {
  .search-bar:focus-within {
    width: 300px;
  }
}
