.articles-header {
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 40px 0;
  background: linear-gradient(
      rgba(217, 217, 217, 0.5),
      rgba(217, 217, 217, 0.5)
    ),
    url("../../../assets/icons/aside-images/trending-header.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
